<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Agam Kukreja">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Agam Kukreja's professional website">
    <title>Agam Kukreja</title>

    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href = /index.html>Home</a></li>
                <li><a href = cv.html>CV</a></li>
                <li><a href = contact.html>Contact</a></li>
                <li><a href = fun.html>For Fun</a></li>
            </ul>
        </nav>
        <h1>
            Agam Kukreja
        </h1>
    </header>
    <div class = "main">
        <h2>
            Ciriculum Vitae
        </h2>
    
        <table border = "1">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>

            <tr>
                <td>Saint John's High School</td>
                <td>Attended from 2020-2024 in Shrewsbury, Massachusetts</td>
            </tr>
            
            <tr>
                <td>Carnegie Mellon University</td>
                <td>Attended from 2024-Present</td>
            </tr>

        </table>
        <a href = "../static/agam_resume-pages.pdf" target = "_blank">My resume</a>
    </div>

    <footer>
        <p>&copy 2025 designed and coded by Agam Kukreja </p>
    </footer>
</body>
</html>