<!DOCTYPE html>
<html lang="en">
<head>
    <script src = "../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Agam Kukreja">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Agam Kukreja's professional website">
    <title>Agam Kukreja</title>

    <title>Document</title>
</head>
<body>
    <header>
        <h1 id = "webname">
            Agam Kukreja
        </h1>
        <nav>
            <ul>
                <a href = ../index.html>Home</a>
                <a href = cv.html>CV</a>
                <a href = contact.html>Contact</a>
                <a href = fun.html>For Fun</a>
            </ul>
        </nav>
    </header>
    <div class="mainLayout">
        <div id="item1">
            <h2>Things I love to do for fun</h2>
           
            <ul id="FavList">
                <li>Play tennis</li>
                <li>Dance Bhangra</li>
                <li>Go Bowling</li>
            </ul>
        </div>
        <div id="item2">
            <img src="AgamTennisPic.jpg" class="funIMG" alt="Tennis photo of Agam">
        </div>
        <div id="item3">
            <iframe class="funVideo"
                width="560" 
                height="315" 
                src="https://www.youtube.com/embed/BJ7glr8ggs4?si=Cun5Q9vPmbpByfWp" 
                title="YouTube video player" 
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        
        <div id="item4">
            <div class="container">
                <h2>Need Some Advice?</h2>
                <p id="adviceText">Click the button to get a random piece of advice!</p>
                <button onclick="getAdvice()">Get Advice</button>
            </div>
        </div>
        
    </div>

    <footer>
        <p>&copy 2025 designed and coded by Agam Kukreja </p>
    </footer>
</body>
</html>